<h1>Welcome Meet!</h1>
<app-dropdown></app-dropdown>
<div class="date-range-container">
    <div class="date-group">
      <label for="from-date">From</label>
      <input type="date" id="from-date" name="from-date">
    </div>
    <div class="date-group">
      <label for="to-date">To</label>
      <input type="date" id="to-date" name="to-date">
    </div>
    <button>Show</button>
  </div>
<div class="charts-container">
  <div class="chart-box">
   <app-campaignchart></app-campaignchart>
  </div>
  <div class="chart-box">
    <app-messagechart></app-messagechart>
  </div>
  <div class="chart-box">
    <app-contactchart></app-contactchart>
  </div>
</div>


<app-tables></app-tables>
