<h1>Welcome Meet!</h1>
<app-dropdown></app-dropdown>
<div class="date-range-container">
    <div class="date-group">
      <label for="from-date">From</label>
      <input type="date" id="from-date" name="from-date" [(ngModel)]="fromdate">
    </div>
    <div class="date-group">
      <label for="to-date">To</label>
      <input type="date" id="to-date" name="to-date" [(ngModel)]="todate">
    </div>
    <button (click)="OnShow()">Show</button>
  </div>

<div class="charts-container">
  <div class="chart-box">
   <!-- <app-campaignchart></app-campaignchart> -->

   <h2>Number of Campaigns per Day</h2>
<canvas baseChart
        [type]="type"
        [data]="data"
        [options]="options">
</canvas>

  </div>
  <div class="chart-box">
    <!-- <app-messagechart></app-messagechart> -->
     <h2>Messages by Type per day</h2>
    <canvas baseChart
            [type]="chartType"
            [data]="Data1"
            [options]="chartOptions">
    </canvas>
  </div>
  <div class="chart-box">
    <!-- <app-contactchart></app-contactchart> -->

    <h2>Contacts Reached per Day</h2>
    <canvas baseChart
            [type]="chartType"
            [data]="Data2"
            [options]="chartOptions2">
    </canvas>
  </div>
</div>


<app-tables></app-tables>
