<div class="template-view-container">
  <h2>{{ campaign.name }}</h2>

  <div class="template-details">
    <div class="detail">
      <strong>Status:</strong>
      <span>{{ campaign.status }}</span>
    </div>


    <div class="detail">
      <strong>Created At:</strong>
      <span>{{ campaign.createdAt | date: 'mediumDate' }}</span>
    </div>

    <div class="detail">
        <strong>Tgas:</strong>
         <ng-container *ngFor="let tag of campaign.tags">
            <span class="tag-badge" *ngIf="tag.length<10">{{ tag }}</span>
          </ng-container>
    </div>

    <div class="contact-detail">
  <h3>🎯 Targeted Contacts</h3>

  <ul class="contact-list">
    <li *ngFor="let contact of contacts | paginate: { itemsPerPage: 5, currentPage: cp }" class="contact-item">
      <span class="contact-name">{{ contact.name }}</span>
      <span class="contact-phone">{{ contact.phoneNumber }}</span>
    </li>
    <pagination-controls (pageChange)="cp = $event"></pagination-controls>
  </ul>
</div>

    <div class="detail">
      <strong>Text Content:</strong>
      <p class="content-text">{{ campaign.content }}</p>
    </div>

    <div class="detail" [ngClass]="{'dis': campaign.templateId.type !== 'text'}">
         <strong>Template-Image:</strong>
         <div class="image-preview">
             <img [src]="campaign.templateId?.content?.imagePath" alt="Template Image" />
        </div>
    </div>

    <div class="detail">
      <strong>Template Content:</strong>
      <p class="content-text">{{ campaign.templateId?.content?.text }}</p>
    </div>

    

  </div>
  <button [routerLink]="['/dashboard/campaigns']">Back</button>
</div>
