<div class="campaign-list-container">
  <div class="header">
    <h2>Users</h2>
    <button class="create-btn oneb" (click)="createtUser()">+ Create New User</button>
    <button class="create-btn" (click)="existUsers()">+ Add Existring User</button>
  </div>

  <table class="campaign-table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Right</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users | paginate: { itemsPerPage: 10, currentPage: currentpage }">
        <td><a >{{ u.email }}</a></td>
        <td>{{ u.right }}</td>
        <td>{{u.createdAt | date:'mediumDate'}}</td>
        <td class="actions">
          <!-- <button [routerLink]="['/dashboard/edit/user',u._id]">Edit</button> -->
          <button (click)="editUser(u._id)">Edit</button>
          <button (click)="viewuser(u._id)">View</button>
          <button (click)="delete(u._id)">Delete</button> 
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="goBack()">Back</button>
  <pagination-controls (pageChange)="currentpage = $event"></pagination-controls>
</div>
