<div class="container">
    <form [formGroup]="editform" (ngSubmit)="OnSubmit()">
        <h1>Update Contact</h1>
        <label for="name">Enter Name : </label>
        <input type="text" formControlName="name" #name>

        <label for="phone">Enter phone-number : </label>
        <input type="number" formControlName="phoneNumber" #phone>

        <label for="tag">Enter tags (space-seperated) : </label>
        <input type="text" formControlName="tags" #tag>
        
        <button type="submit" [disabled]="editform.invalid">Update</button>
    </form>
</div>
