<div class="campaign-list-container">
  <div class="header">
    <h2>Workspaces</h2>
    <button class="create-btn" [routerLink]="['/dashboard/create']">+ Create New Workspace</button>
  </div>

  <table class="campaign-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Users</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let w of workspaces">
        <td><a >{{ w.name }}</a></td>
        <td>{{ w.createdAt }}</td>
        <td>50</td>
        <td class="actions">
          <button [routerLink]="['/dashboard/edit',w._id]">Edit</button>
          <button [routerLink]="['/dashboard/view',w._id]">View</button>
          <button (click)="delete(w._id)">Delete</button> 
          <button [routerLink]="['/dashboard/users',w._id]">Open Users List</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
