<div class="campaign-list-container">
  <div class="header">
    <h2>Workspaces</h2>
    <button class="create-btn" [routerLink]="[':id/create']">+ Create New Workspace</button>
  </div>

  <table class="campaign-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Users</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let w of workspaces | paginate: { itemsPerPage: 5, currentPage: currentpage }">
        <td><a >{{ w.name }}</a></td>
        <td>{{ w.count }}</td>
        <td>{{w.createdAt | date:'mediumDate'}}</td>
        <td class="actions">
          <button [routerLink]="['/dashboard',w._id,'edit']">Edit</button>
          <button [routerLink]="['/dashboard',w._id,'view']">View</button>
          <button (click)="delete(w._id)">Delete</button> 
          <button [routerLink]="['/dashboard',w._id,'users']">Open Users List</button>
        </td>
      </tr>
    </tbody>
  </table>
   <pagination-controls (pageChange)="currentpage = $event"></pagination-controls>
</div>
