<!-- src/app/components/user-select/user-select.component.html -->
<div class="user-select-container">
  <h2>Select Users from another workspaces</h2>

  <ul class="user-list">
    <li *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: currentpage }" class="user-item">
      <label>
        <input
          type="checkbox"
          [checked]="selectedUserIds.has(user._id)"
          (change)="toggleSelection(user._id, $event)"
        />
        <div class="user-details">
          <span class="user-name">{{ user.name }}</span>
          <span class="user-email">{{ user.email }}</span>
        </div>
      </label>
    </li>
  </ul>

  <div class="submit-section">
    <button (click)="submitSelection()">Submit</button>
  </div>
   <pagination-controls (pageChange)="currentpage = $event"></pagination-controls>
  <button (click)="goBack()">Back</button>
</div>
