<div class="container">

    
    <form [formGroup]="addform" (ngSubmit)="OnSubmit()">
        <h1>Create New User</h1>
        <label for="name">Enter Name : </label>
        <input type="text" formControlName="name" #name>

        <label for="phone">Enter Email : </label>
        <input type="email" formControlName="email" #phone>

        <label for="password">Enter temporary password</label>
        <input type="password" formControlName="password" #password>

        <!-- workspace-select.component.html -->
       <label for="ws">Select Right:</label>
      <select id="ws" formControlName="right">
          <option value="">-- Select --</option>
          <option>edit</option>
          <option>view</option>
      </select>

        
        <button type="submit" [disabled]="addform.invalid">Add User</button>
        <button (click)="goBack()">Back</button>
    </form>
    
</div>
